/* My style */

/* Define a base class with common styles */
.info {
    font-size: 12px;
  }
  
  /* Extend the .info class for .success and .warning */
  .success {
    @extend .info;
    color: #00FF00;
  }
  
  .warning {
    @extend .info;
    color: #FF0000;
  }
  